.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: #cb5a5a;
  width: 100%;
  padding-inline: 1rem;

  &__image-wrapper {
    position: relative;

    &--count {
      position: absolute;
      top: -10px;
      right: -5px;
      font-size: 2rem;
      color: white;
    }
  }
}
